[2016-08-13 11:56] zhaozhiming opened #1 "When slide size has changed, the component can't slide down."
HI,
I dynamic generate `Slide`(Something like as follow), when the `Slide` size change from 2 to 3, the component rerender and I can't slide down to the last `Slide`.
Please help! Thanks.

[code]

[2016-08-13 16:49] cmswalker commented on #1
Could you post what `MyComponent` looks like?   Slides are 0 indexed and I'm wondering if that could be the case here.  Also, try this and let me know if the slides work:

[code]

[2016-08-13 17:16] cmswalker commented on #1
This is an interesting Idea. It's now fixed as of 1.0.8, so just `npm install fullpage-react` and you're good to go.  I hadn't though it out as I figured most people would want fairly different slides and would just want to edit them in the `render()` function of Fullpage.  Enjoy!

[2016-08-13 17:16] #1 closed

[2016-08-14 04:00] zhaozhiming commented on #1
Thank you, but it seems not publish yet?

![image](https://cloud.githubusercontent.com/assets/1436694/17647047/03fd32fa-6214-11e6-8d76-0ab13395f7a5.png)

[2016-08-14 04:28] cmswalker commented on #1
Haha, whoops

It's up now

[2016-08-15 14:53] adamwuyu opened #2 "Not scrolling at all on Firefox"

[2016-08-15 14:58] cmswalker commented on #2
This seems to have been working on some older versions but is broken on the latest.  WIll have a look later today

[2016-08-15 15:09] adamwuyu commented on #2
Thank you for your quick response. I just found out there are also some error in IE 11. I hope the screenshot can help.
![image](https://cloud.githubusercontent.com/assets/2903328/17668720/3c78d6b4-633d-11e6-9b61-149034ae3adb.png)

[2016-08-17 02:40] cmswalker commented on #2
@adamwuyu fixed Firefox as of 1.0.9

Have not fully tested IE yet

[2016-08-17 02:41] #2 closed

[2016-08-17 14:49] adamwuyu opened #3 "It shows nothing on IE11"
![image](https://cloud.githubusercontent.com/assets/2903328/17740894/dc6d1366-64cc-11e6-957c-6b5f11b2e8a3.png)

[2016-08-17 15:13] adamwuyu commented on #2
Great, Firefox works perfectly now!

[2016-08-17 15:36] cmswalker commented on #3
Looking into this. I'll have to do some synthetic testing as I'm on Unix.  Is it a completely blank page?

Also, The Warning about unknown props comes from the `react-tappable` library that is a mobile dependency for `fullpage-react`. They're harmless and do not affect anything, the author forgot to remove a few lines of code in their latest `dist/` file but it is being addressed and will be fixed

[2016-08-17 16:12] adamwuyu commented on #3
yes, it was total blank. There are another error and some warnings:
![image](https://cloud.githubusercontent.com/assets/2903328/17743971/5fa44fd2-64d8-11e6-86fa-617e344fbdd8.png)

[2016-08-18 02:07] cmswalker commented on #3
@adamwuyu fix is up, let me know if the problem persists

[2016-08-18 06:57] adamwuyu commented on #3
Hi @cmswalker , I have problem how to visit local node server from windows (there is no index.html, so I don't know how to set it up in Apache...). But I visited the demo page, every thing shows up correctly, but I can not scroll.  Both click and mouse scroll have no response and no new error message  shows up in the console. Here is the warning info from begining:
![image](https://cloud.githubuse

[2016-08-18 07:00] adamwuyu commented on #3
@cmswalker , and is there a document on how to use this component? There README.md is a little  bit over complicated for me.

[2016-08-18 07:07] adamwuyu opened #5 "Position problem when resize the window."
Reproduce: Navigate to slide 2, resize window, then the position will not match.
Browser: all browsers.

![image](https://cloud.githubusercontent.com/assets/2903328/17764946/73f24e44-6555-11e6-80a2-b16365a8a023.png)

[2016-08-18 15:01] #3 closed

[2016-08-19 01:49] cmswalker commented on #5
fixed https://github.com/cmswalker/fullpage-react/pull/7

[2016-08-19 01:50] #5 closed

[2016-09-05 02:38] anykao commented on #2
But i still get the same problem in Firfox 48.0 using latest version (fullpage-react@1.0.12).

[2016-09-05 05:31] anykao opened #8 "Cant scroll when using Firefox"
Firfox 48.0
fullpage-react@1.0.12

[2016-09-05 15:33] cmswalker commented on #8
This seems to be working fine. Did you look at the demo page in firefox 48? https://cmswalker.github.io/fullpage-react/

[2016-09-05 15:38] cmswalker commented on #8
This seems to be working fine in firefox 48.  Did you look at the demo in firefox? https://cmswalker.github.io/fullpage-react/

If that works but your build doesn't post your options here and I'll try to help

[2016-09-06 00:53] anykao commented on #8
Yes, I tried  the Demo page, and didn't work there.
Maybe  I should mention that I'm using ubuntu.

[2016-09-07 03:05] cmswalker commented on #8
@anykao Could you take a screenshot of any errors in the firefox console that may appear when you go to the demo page?

[2016-09-20 18:32] ckuijjer opened #9 "Universal React: ReferenceError: window is not defined"
I'm trying to use your awesome library in a universal react environment, where the initial render is done server side.

NodeJS isn't able to import the library as it's dependent on the `window` object existing, which doesn't exist in a server side environment.

[code]

If the BROWSER, ELEMENT_BROWSERS and BODY variables are initialized on the first use, this isn't an issue anymore.

I've created p

[2016-09-21 02:43] cmswalker commented on #9
Thanks for this, closed via https://github.com/cmswalker/fullpage-react/pull/10

[2016-09-21 02:43] #9 closed

[2016-09-21 02:43] #8 closed

[2016-09-21 10:59] ckuijjer commented on #9
Awesome! Thanks a lot

[2016-09-21 11:12] ckuijjer opened #11 "Using UglifyJS minification breaks counting the number of slides"
We use UglifyJS to minify our JavaScript bundle. During the minification a lot of the variables get renamed, the class Slide would get renamed to e.g. _t_. As the function _getSlideCount_ depends on checking the name of class Slide, it would always return a count of zero and _scrollToSlide_ wouldn't scroll.

I've changed this to compare the type with the Slide class directly in pull request #12

[2016-09-23 14:03] cmswalker commented on #11
Fixed in v 15

[2016-09-23 14:03] #11 closed

[2016-09-29 18:40] wlingke opened #13 "Keyboard support"
Is there any plans to support the keyboard down/up arrows?

[2016-09-30 02:40] cmswalker commented on #13
Don't see why knot. I'll get it in soon and hit you up when it's ready.

[2016-09-30 16:21] wlingke commented on #13
awesome! by the way - really glad there's an active full page react project . It's unfortunate that fullpage.js depends on jquery.

[2016-10-01 17:11] cmswalker commented on #13
Now available in `1.0.16`

https://github.com/cmswalker/fullpage-react/commit/5a58d0cc91b1f14c8cc47c796d86ad501265dd64

[2016-10-01 17:12] #13 closed

[2016-10-03 09:43] ckuijjer opened #16 "Removing event listeners doesn't work"
Hey,

We've noticed some odd scrolling behaviour after navigating away from a page with fullpage-react in it. This seems due to the removal of event listeners not working properly. In the `componentDidMount` the functions are first bound to `this` before using them as an event listener. The `componentWillUnmount` however tried to remove the unbound version.

I've tried to solve this in pull reques

[2016-10-03 16:25] cmswalker commented on #16
Ah i see, yeah an oversight by me. Glad you found this by switching between apps. If you wouldn't mind could you just rewrite the `componentDidUnmount` lifecycle to use binds instead of adding to webpack configs for stage 2?  I'm sure they'll likely be accepted, i'd just rather keep it as vanilla as possible for now.

[2016-10-03 18:27] ckuijjer commented on #16
As I understand it binding inside the `componentDidUnmount` like e.g. `    document.removeEventListener('wheel', this.onScroll.bind(this));` wouldn't work, as that would create another bound onScroll function, which wasn't added as an event listener.

I've updated pull request #15 and fixed this by doing the binds in the constructor, like `this.onScroll = this.onScroll.bind(this);`.

P.S. As I did

[2016-10-03 19:09] cmswalker commented on #16
fixed in `fullpage-react@1.0.17`

[2016-10-03 19:09] #16 closed

[2016-10-03 19:31] ckuijjer commented on #16
Awesome!

[2016-10-20 23:28] bradennapier opened #17 "Can only update a mounted or mounting component"
Can not seem to get this to work, copied your example exactly from what I can tell on Google Chrome.  Not sure what I am missing here.

warning.js:44 Warning: setState(...): Can only update a mounted or mounting component. This usually means you called setState() on an unmounted component. This is a no-op. Please check the code for the Fullpage component.

[2016-10-20 23:39] bradennapier commented on #17
Is there some magic settings that aren't documented to make this work?

Nothing shows up, nothing scrolls, the nav and top nav components do show up - all the "pages" seem to be stacked on top of each other...

[2016-10-21 00:15] bradennapier commented on #17
![image](https://cloud.githubusercontent.com/assets/15365418/19582291/0eaa482e-96e8-11e6-9f45-5d55865d2b0c.png)

It is setting the state as it should properly but nothing changes at all when i do it

[2016-10-21 19:10] cmswalker commented on #17
try posting your code here and i can help out.

Also feel free to fork it and compare your example with the the one provided when you run `npm start`

I'll update the documentation afterwards too

[2016-11-01 02:23] cmswalker commented on #17
marking this closed. will update the docs soon to make things more user friendly. I'll also add a tl;dr section with the bare minimum to get rolling

[2016-11-01 02:23] #17 closed

[2017-01-11 17:08] cescoferraro opened #18 "horizontal scrolling"
I might need to use this repo in the near feature. But would definitely need horizontal scrolling. I could not find a WIP branch, is there one? Have you tried it yet? What are the challenges of doing it?

[2017-01-11 17:49] cmswalker commented on #18
Hey there, i do have a WIP branch for this locally, just been tied up at work. Hoping to kick it out within a week or two, will ping back here when it is up

[2017-01-17 14:20] mehrdaad opened #19 "Clicking a link on touch mode causes scroll"
The title explains itself, package versions:

     "fullpage-react": "^1.0.18",
       "react": "^15.4.1",
       "react-dom": "^15.4.1"

[2017-01-17 21:49] cmswalker commented on #19
So I'm not sure what you're referring to here. Nav links should link such as the ones contained in the demo https://cmswalker.github.io/fullpage-react/

I would recommend using the example in the examples folder or posting your markup here so i can try to replicate it. I put some standard links within slides and there was no scrolling.

[2017-01-17 21:53] cmswalker commented on #19
Actually scratch that ^^, looks like it isnt restricted to just links, I there seems to be an override with touch, will fix

[2017-01-17 22:02] cmswalker commented on #19
fixed in https://github.com/cmswalker/fullpage-react/pull/20

[2017-01-17 22:05] cmswalker commented on #19
@mehrdaad new version is up on npm `1.0.19`

[2017-01-17 23:20] cmswalker commented on #19
Actually there are edge cases to this I'm just now realizing due to the event handlers preventing default. Going to re-open this an find a better fix.

[2017-01-18 00:31] cmswalker commented on #19
@mehrdaad new version is up as 1.0.20 this actually exposed a pretty funky bug, thanks a ton for finding! https://github.com/cmswalker/fullpage-react/pull/21

[2017-01-18 00:31] #19 closed

[2017-01-18 19:19] mehrdaad commented on #19
Your welcome! I appreciate you for fixing it this much fast.
Another problem(bug) with this lib is that it's not scrolling with mouse-wheel on Firefox, it works with arrow keys though. I tested it on demo page.

[2017-01-18 19:52] cmswalker commented on #19
I tested on firefox for mac and android and everything works fine. What version of firefox and on what device?

[2017-01-18 19:56] mehrdaad commented on #19
I'm on windows. Firefox version 50.1.0

[2017-01-18 19:57] cmswalker commented on #19
ok cool, i'll try to get this running in a VM for windows, they likely have a different event. Any errors in the console?

[2017-01-18 20:14] cmswalker opened #22 "No wheelevent for windows. Firefox version 50.1.0"

[2017-01-18 20:19] mehrdaad commented on #19
Nope not any error in Firefox.
Another bad news is it is completely broken on IE 11. the console in IE says: ``HTML1521: Unexpected "</body>" or end of file. All open elements should be closed before the end of the document.
fullpage-react (11,3)``

[2017-01-18 20:49] #22 closed

[2017-01-18 20:49] cmswalker commented on #19
@mehrdaad  Let me know if this works now https://cmswalker.github.io/fullpage-react/

[2017-01-18 21:31] mehrdaad commented on #19
Not working in Firefox.
But now works in IE. was the problem related to that page or the lib?

[2017-01-18 21:32] mehrdaad commented on #19
Seems like it's time to bump the version again!

[2017-01-18 21:33] cmswalker commented on #19
Its the library, will try Firefox Windows again on a VM

[2017-01-18 21:34] mehrdaad commented on #19
Did you updat the version to fix the IE problem?

[2017-01-18 21:35] cmswalker commented on #19
Yes, the latest version has the IE fix, whatever the demo page is running will always be in-sync with what is up on npm

[2017-01-18 21:35] mehrdaad commented on #19
Thanks. By the way, what you think of [this](https://ashojash.com/)

[2017-01-18 21:37] cmswalker commented on #19
Very Cool! let me know if you find anything else. Good to see real sites using this! I'll let you know when Firefox is up

[2017-01-18 21:39] mehrdaad commented on #19
Sure! Had tested one or two full page libraries before landing on this lib.
Thanks again.

[2017-01-18 21:40] mehrdaad commented on #19
Oh just one more thing, I don't know whether this is a bug or not but when I scroll by scrollbar (Not with mouse-wheel or arrow keys)  the ``currentPage`` state doesn't get updated and I think that relates to the library itself rather than my code. What you think about it?

[2017-01-18 21:42] cmswalker commented on #19
ah yes, that is not built in. It could be, i just assumed most people would hide the scroll bar altogether.  It can be done tho

[2017-01-18 21:49] mehrdaad commented on #19
Are you planning to develop that as well? and how can I hide scrollbar?

[2017-01-18 22:51] cmswalker commented on #19
OK try the demo again for windows Firefox https://cmswalker.github.io/fullpage-react/

I will make an issue to add the scrollbar feature

[2017-01-18 22:52] cmswalker opened #24 "Scrollbar doesn't adjust state"
When I made this I figured most people would hide the default scrollbar in the browser when possible. Will make an update so that the scrollbar actually modifies component state.

[2017-01-18 23:49] mehrdaad commented on #19
nope, doesn't still work

[2017-01-18 23:56] cmswalker commented on #19
Odd it worked on windows 11 firefox 50+ VM.  What windows version are you running?

[2017-01-19 10:14] mehrdaad commented on #19
I'm on Windows 10. Do you check it with mouse wheel? because it works with arrow keys but not with mouse wheel.

[2017-01-20 07:30] exdeniz opened #25 "How go to slide from event onClick?"
I want go to slide 0  ```<Logo onClick={this.goTop} />```.  What to write in a function?

[2017-01-20 10:45] exdeniz opened #26 "Firefox 50.1.0 - OSX no scroll slide."
Mouse event not working, keyboard and nav work normal. No error in console.

[2017-01-20 11:57] exdeniz opened #27 "Disable horizontal touch event."
On iOS horizontal swipe on any place (react-portal with slider) call change slide in fullpage-react

[2017-01-21 07:14] exdeniz commented on #25
I found a solution:
[code]
and
[code]

[2017-01-21 07:14] #25 closed

[2017-01-23 08:06] exdeniz commented on #26
Close by #28

[2017-01-23 14:27] exdeniz opened #29 "React-Tappable require copy react and react-dom"
Screenshot - http://i.imgur.com/3iaWo3b.png

[2017-01-29 22:18] mehrdaad commented on #19
Hi,any updates on this? I tested it just now on Firefox windows.
It isn't fixed yet apparently.

[2017-02-12 00:49] cmswalker commented on #27
This will be addressed in the next release. Will ping back here when it is out.

[2017-02-12 00:50] cmswalker commented on #29
Will handle this in the next release. Will ping back when it  is out. Thanks!

[2017-02-12 00:55] #26 closed

[2017-02-25 22:22] cmswalker commented on #29
fixed in V2 https://www.npmjs.com/package/fullpage-react

[2017-02-25 22:22] #29 closed

[2017-02-25 22:22] cmswalker commented on #27
fixed in V2 https://www.npmjs.com/package/fullpage-react

[2017-02-25 22:23] #27 closed

[2017-02-25 22:23] cmswalker commented on #24
fixed in V2 https://www.npmjs.com/package/fullpage-react

[2017-02-25 22:23] #24 closed

[2017-02-25 22:23] cmswalker commented on #18
fixed in V2 https://www.npmjs.com/package/fullpage-react

[2017-02-25 22:23] #18 closed

[2017-02-27 12:55] triple1c86 opened #31 "how to run example(fullpageReactExample.js)?"
Hi, I'm totally a noob in reactjs and webpack..
May i know how to run your example(fullpageReactExample.js) in your https://github.com/cmswalker/fullpage-react.git?

this is what i have done so far..
1. git clone https://github.com/cmswalker/fullpage-react.git
2. cd in and npm install
3. npm start - doesnt work.. saying missing webpack-dev-server
4. npm build - nothing as well
5. ./node_modules/.b

[2017-02-27 15:22] cmswalker commented on #31
Looks like I forgot to add it to the dev dependencies. I've just gone over it and made some updates, so you should be good with the newest version from npm `fullpage-react@2.0.2`

https://github.com/cmswalker/fullpage-react/commit/a38be40bfe19732a7fe50de155110f1e88577b4a

Your steps 1-3 should get you running after installing the newest version

Thanks for finding

[2017-02-27 15:22] #31 closed

[2017-02-27 18:00] triple1c86 commented on #31
ah sweet! thanks for the fix! 👍

[2017-03-03 13:05] foobar8675 opened #32 "semantic-ui not working from within fullpage-react"
Hi @cmswalker,

First, thanks for writing this. It is really helpful. I'm using http://react.semantic-ui.com/ and many of the semantic-ui features are not working when called from within fullpage-react. I was wondering if this or something like this is something you might have come across?

[2017-03-03 15:39] cmswalker commented on #32
@foobar8675 Thanks for reporting.

So i haven't looked into this a ton, but I downloaded react-semantic-ui and tried to use it and you're right there are conflicts. What is odd is that the conflicts only occur when I load in their css (which require jQuery) and I'm afraid that is setting up event listener and scroll conflicts. https://github.com/Semantic-Org/Semantic-UI-CSS/search?utf8=%E2%9C%93&q

[2017-03-03 16:46] foobar8675 commented on #32
Thanks for letting me know. For more lightweight UI frameworks, do you have one that you use?

[2017-03-03 16:46] #32 closed

[2017-03-14 10:30] noushad-pp opened #34 "Cant compile. Component missing"
[code]

I am unable to run I don't even need horizontal scrolling

[2017-03-14 10:33] noushad-pp commented on #34
the file name is `horizontalSlider.js `while its trying to load HorizontalSlider.js
[code]

why is this error only happened to me?

[2017-03-15 14:57] vetterh1 commented on #34
Got this error too.
Dev server was running Windows, so no issue with case.
Compilation failed on Linux though...

[2017-03-15 16:13] vetterh1 opened #35 "UglifyJsPlugin disables scroll"
Hi @cmswalker,

Thanks for this nice & useful component!
However, I've some trouble with the UglifyJsPlugin as it seems to break something.

Very easy to replicate by adding these 2 lines in webpack.config.js of your code:
- at the beginning: const webpack = require('webpack');
- in the plugins array, add this:  , new webpack.optimize.UglifyJsPlugin()

The sample will launch but:
- scrolling does

[2017-03-16 01:35] cmswalker commented on #34
@noushad-pp @vetterh1 could you try the newest version fullpage-react@2.0.3

[2017-03-23 13:57] vetterh1 commented on #34
fullpage-react@2.0.3 works for me (if not minified, see #35)
Thanks @cmswalker!

[2017-03-25 21:39] cmswalker commented on #34
Still looking into uglify compatibility

[2017-03-25 21:39] #34 closed

[2017-03-27 11:36] Lehakos opened #37 "How enable normal scroll"
Hello. I want to enable normal scroll on mobile. Is there any way to do this?

[2017-04-21 02:02] cmswalker commented on #37
This can be done, but we'll be at the mercy of parsing the user-agent. Which is most often dependable, but not always.

[2017-05-19 02:40] artkynet opened #38 "scroll animation doesn't work"
.babelrc

`
{
  "presets": ["es2015", "react", "stage-1"],
  "plugins": ["transform-decorators-legacy", ["import", {
    "libraryName": "antd",
    "style": true
  }]]
}
`

The scroll Animation doesn't work, but if I remove antd, It works!

[2017-05-19 03:02] artkynet commented on #38
@all
the bottom style can be stop the scrolling animation, the problem resolved.
`body { height: 100%;}`

[2017-05-19 03:02] #38 closed

[2017-05-23 08:34] glennflanagan commented on #35
@vetterh1 Did you ever figure this one out? I'm noticing issues with my minified code too.

[2017-05-23 17:07] cmswalker commented on #35
@vetterh1 @glennflanagan Sorry this has taken so long.

Turns out, it's the mangling that is breaking. There are various (poorly written) parts within this module that reference the actual TYPE of component being passed around. Unfortunately, when mangled is enabled, this will break fullpage-react.

You can test it by cloning this repo and running the following

`npm install uglifyjs-webpack-plugi

[2017-05-23 17:07] #35 closed

[2017-05-26 21:03] elverskog opened #39 "Position relative"
A small note. I needed to place wrapper around each slide, with `position: relative`, to allow any absolute positioned items (like a down-arrow button), inside my slide, to move along with the slide.

          <Slide>
            <div style={styles.slide}>
              <HomeWhat {...props} />
            </div>
          </Slide>

Any chance  you may want to add position relative to each slide?

[2017-05-26 22:28] cmswalker commented on #39
@elverskog I'm actually almost done with v3, it will have some small breaking changes. Instead of getting access to the Slide component you will just pass slides as props, it will address this change along with lots of scroll improvements. I will double check this test case and add it if it isn't already fixed in the changes I've made, but I'm pretty sure I've already handled this. Will ping you w

[2017-05-27 19:28] elverskog commented on #39
Awesome. Thx.

[2017-05-28 00:38] elverskog opened #40 "Have fixed content in a horizontal slider"
I have a use-case that I am having trouble getting to work. I want to have a fixed title above a `HorizontalSlider`; so the main slide title stays in place while the content below slides.

When I try to embed `HorizontalSlider` inside a `Slide` it causes something in the code to set the `display` of _HorizontalSlider_ to `hide`. I assume it has something to do with it thinking the `HorizontalSlide

[2017-05-29 16:06] cmswalker commented on #40
HorizontalSlider should nest its own slides, It should not go inside of Slides.  Basically the structure should be

[code]

In v3 this will be much simpler. You'll just pass a Slides Prop to either Fullpage or Horizontal Slide and there won't be any need to worry about refs, but that ^^^ should get you going for now

[2017-05-30 18:19] elverskog commented on #40
Thanks but I'm not sure this addresses my exact use-case. When `HorizontalSlider` replaces `Slide` (as you listed) there is no way to have a fixed header above the horizontal slider (as the whole screen slides). I think I'm just looking for something specific (can't please everybody :) . I'm not sure if the passing method you mentioned got the new version will meet this need...but I look forward t

[2017-05-30 18:25] elverskog opened #41 ""name" doesn't seem to take"
I'm taking a look at the `onSlideChangeEnd`. The first argument is `name` but when I print `name` it always comes up as "Fullpage". Even though I have the name set to something else in `fullPageOptions` (which is what is passed to the component in my code as in your example). Am I misunderstanding the name parameter is for?

[2017-05-30 20:04] cmswalker commented on #41
name is only for horizontal slides. It's for managing state. v3 is almost done and will have better docs I promise

[2017-05-30 20:05] cmswalker commented on #40
Have you tried making your fixed header a slide with transparent background and higher zIndex?  I will have a working example of your scenario with v3.

[2017-05-31 14:54] elverskog commented on #40
Sorry, I'm not sure I follow. I think I would need to see the example you mentioned.

[2017-05-31 21:23] elverskog commented on #41
Sounds good. Will keep an eye out. However, Mr. boss-man has set deadlines and I need to launch something by the end of the week so, for now, trying to tweak things (for my specific needs) in your lib as best I can. Like adding `comp.props.name` as an added arg passed to `onSlideChangeEnd` or moving the scroll and touch addEventListeners in `scroll-swipe `to named functions (which worked btw).

So

[2017-06-06 03:22] cmswalker commented on #41
@elverskog This should now be Resolved in v3
https://www.npmjs.com/package/fullpage-react

[2017-06-06 03:22] #41 closed

[2017-06-06 03:22] cmswalker commented on #40
@elverskog This should now be Resolved in v3
https://www.npmjs.com/package/fullpage-react

[2017-06-06 03:22] #40 closed

[2017-06-06 03:22] cmswalker commented on #39
@elverskog This should now be Resolved in v3
https://www.npmjs.com/package/fullpage-react

[2017-06-06 03:22] #39 closed

[2017-06-06 03:22] cmswalker commented on #37
@Lehakos  This should now be Resolved in v3

There is a new parameter on options for the breakpoint threshold.

https://www.npmjs.com/package/fullpage-react

[2017-06-06 03:22] #37 closed

[2017-06-09 10:25] artkynet opened #43 "webpack -p scoll event cannot work"
when I webpack -p, the scroll event cannot work of release project

[2017-06-09 23:49] cmswalker commented on #43
@artkynet Would you mind posting your webpack config here?

The `gh-pages` branch of this repo is running the latest version of fullpage-react with a webpack production build (minified/uglified) and everything is fine.

[2017-06-10 23:34] artkynet commented on #43
I use the full page master branch /example to webpack -p，After released , the /static still can't be working with scrolling event

[2017-06-11 01:06] cmswalker commented on #43
The example is working when I run it. What happens when you run this?
NODE_ENV=production webpack

On Jun 10, 2017 4:34 PM, "artkynet" <notifications@github.com> wrote:

[2017-06-11 05:19] artkynet commented on #43
@cmswalker now I git clone the new master orgin, run the  `npm run build`, everything looks ok, but I cannot find the dist folder, please help me

[2017-06-11 05:29] artkynet commented on #43
@cmswalker the scrolling problem will be report with tomorrow

[2017-06-11 17:14] cmswalker commented on #43
The dist folder gets created during the run build script. I'm not sure why you're having a hard time locating it.

[2017-06-12 02:22] artkynet commented on #43
@cmswalker when I use `webpack -p` for --optimize-minimize, the scroll event cannot be worked! use `webpack` everything is ok.

[2017-06-12 03:22] artkynet commented on #43
@cmswalker now my fullpage-react version is  2.0.3, I will update to 3.0.3, thanks

[2017-06-12 10:16] artkynet commented on #43
@cmswalker thanks, resolved!

[2017-06-12 10:16] #43 closed

[2017-06-12 23:58] cmswalker commented on #43
Glad you figured it out

[2017-06-15 03:15] artkynet opened #44 "When I slide the screen horizontally"
When I slide the screen horizontally after the Vertical slide is not working

[2017-06-15 17:59] cmswalker commented on #44
You'll have to post an example of your code. It is working in the demo.

[2017-06-18 09:00] amitava82 opened #45 "Not working"
Just installed from npm and trying to setup basic example, it throws `Uncaught (in promise) Error: t.render(): A valid React element (or null) must be returned. You may have returned undefined, an array or some other invalid object.`

[code]

[2017-06-18 09:52] amitava82 commented on #45
OK, looks like `Fullpage` component needs to have a children which should not be required.

[2017-06-18 16:51] cmswalker commented on #45
Thanks for this. Fixed in [3.0.4](https://www.npmjs.com/package/fullpage-react)

[2017-06-18 16:51] #45 closed

[2017-06-28 19:20] jppag opened #46 "Getting Adjacent JSX elements must be wrapped in an enclosing tag"
Hey, whenever I try to set the Slides array, the console throws an error of "Adjacent JSX elements must be wrapped in an enclosing tag". I should wrap the content in a div, but the fullpage doesn't work when I do that.

My Code:

[code]

[2017-07-01 15:25] cmswalker commented on #46
There are a few syntax errors with that example ^^   Also, you need to add the slides to the fullpageOptions.

Try This (omitted your styles)

[code]

[2017-07-01 15:28] #44 closed

[2017-07-06 03:47] therladbsgh opened #47 "Vertical scrolling does not seem to work"
I've tried both the boilerplate and the more detailed example, but in both cases changing the slides vertically (either with a button or with scrolling) does not seem to work. Changing slides horizontally functions as normal.

The code I am using right now (for testing) is identical to the [detailed example.](https://github.com/cmswalker/fullpage-react/blob/master/examples/fullpageReactExample.js)

[2017-07-06 04:16] cmswalker commented on #47
@therladbsgh post what you have. If its identical it should be working, the example is what will run if you fork this, it is also running in the demo

[2017-07-06 05:04] therladbsgh commented on #47
You're right, it seems to work fine when I clone the repo.

Here's my code below. As for dependencies / environment, I've built the project from [mern-starter](https://github.com/Hashnode/mern-starter).

`import React, { PropTypes, Component } from 'react';

const { Fullpage, Slide, HorizontalSlider } = require('fullpage-react');
const { changeFullpageSlide, changeHorizontalSlide } = Fullpage;

//

[2017-07-06 17:12] cmswalker commented on #47
Interesting, I'll have to try out MERN starter. What you posted above works just fine for me (as long as I omit the css)

[code]

[2017-07-06 17:13] #46 closed

[2017-07-06 17:13] #47 closed

[2017-09-01 07:33] stayge-terry opened #49 "is it possible to import vertical slides into horizontal slides"
For example
<FullPage>
<Horizontal Slider1><Horizontal Slider2><Horizontal Slider3>
</FullPage>

and then

vertical Slides compose Horizontal Slider2 like this.

<Horizontal Slider2>
<Slide>
<Slide>
<Slide>
</Horizontal Slider2>

In your example you imported Horizontal Slider in vertical Slides,
so I thought the opposite would be possible, but I'm having problem in doing this.
Is it possible?

[2017-09-01 07:34] stayge-terry opened #50 "is it possible to import vertical slides into horizontal slides"
For example
[code]

and then

vertical Slides compose Horizontal Slider2 like this.

[code]

In your example you imported Horizontal Slider in vertical Slides,
so I thought the opposite would be possible, but I'm having problem in doing this.
Is it possible?

[2017-09-01 07:35] #49 closed

[2017-09-02 01:35] cmswalker commented on #50
The reason it isn't possible is because you have to have at least one Vertical slide. So if you need a horizontal slider made up of slides that only slide left to right, the example should suffice.  Horizontal Sliders are Slides themselves in that they are 100% width and 100% height and scroll vertically. It's their composite components that slide left to right.

Are you saying you need vertical s

[2017-09-03 03:01] #50 closed

[2017-10-06 12:20] pixelventures opened #51 "Not working since Chrome v61 update"
Running the fullpage example on new Chrome 61 doesn't seem to vertical scroll - since update to `document.documentElement.scrollTop`. Tested with v3.0.7

Running through the code still shows scrollTop being assigned increment on every iteration, however, no UI scrolling occurs - not yet sure as to why, sorry. Looking at state within Fullpage component, can confirm active slide is updating and awar

[2017-10-07 10:06] cmswalker commented on #51
Will get this fixed in the next day or so

[2017-10-08 21:43] pixelventures commented on #51
#52

[2017-10-10 05:44] cmswalker commented on #51
fixing in https://github.com/cmswalker/fullpage-react/pull/53

[2017-10-10 05:44] #51 closed

[2017-10-10 05:46] cmswalker commented on #51
@pixelventures fixed in fullpage-react@3.0.8  Thanks again

[2017-11-16 01:01] hengel2810 opened #55 "TypeError: this.updater.enqueueCallback is not a function"
Hello guys,
I have a problem using this package. I've written the following code:
[code]

If I open the webpage, for some seconds the page is white and then I get the following error messages:
TypeError: this.updater.enqueueCallback is not a function
TypeError: Cannot read property 'removeEventListener' of null

I'm using webpack and babbel, is this the problem ?

[2017-11-16 03:25] cmswalker commented on #55
It's working for me (just copy and pasted)

![screen shot 2017-11-15 at 7 24 21 pm](https://user-images.githubusercontent.com/8467234/32872267-aa935858-ca3a-11e7-8686-4647dd130ae0.png)

May I ask what browser you are using?

[2017-11-16 10:45] hengel2810 commented on #55
I'm using Chrome.

`import React, { Component } from 'react';
import '../assets/css/App.css';
import Content from "./Content";

class App extends Component {
  render() {
    return (
      <div className="appDiv">
        <Content />
      </div>
    );
  }
}
export default App;`

This is the Component where I import the Content.js

[2017-11-16 11:02] hengel2810 commented on #55
I'm using react and react-dom in version 16.1.1

[2017-11-16 11:14] hengel2810 commented on #55
Problem seems to be, that you are using react 15 in your package.json.

https://github.com/reactjs/react-transition-group/issues/151

[2017-11-16 16:27] cmswalker commented on #55
@hengel2810 I see. I have published a patch https://www.npmjs.com/package/fullpage-react  please install the latest version @3.0.10 and let me know if that works for you (worked for me after reproducing the issue)

[2017-11-16 20:17] hengel2810 commented on #55
Thank you for your fast answer and the new version. Works now, but now I getting the next error:

`You may need an appropriate loader to handle this file type.
|
|     return (
|       <div ref={node => this.node = node} className='Fullpage'>
|         {children}
|         {other.map((o, i) => {
    at Object../node_modules/fullpage-react/lib/components/fullpage.js`

[2017-11-16 21:06] cmswalker commented on #55
Could you post your webpack config?

[2017-11-16 23:30] hengel2810 commented on #55
I used _create-react-app_ for this project, I'm new in react development

This is my webpack config, but there is no babelrc file.

`'use strict';

const autoprefixer = require('autoprefixer');
const path = require('path');
const webpack = require('webpack');
const HtmlWebpackPlugin = require('html-webpack-plugin');
const CaseSensitivePathsPlugin = require('case-sensitive-paths-webpack-plugin');
c

[2017-11-17 01:07] cmswalker commented on #55
I would suggest using a smaller boilerplate to get started. I will try to pull down  `create-react-app` and see if it works with the library, but with a minimal webpack setup it seems to be working fine.

[2017-11-17 01:24] hengel2810 commented on #55
That's really nice. I'm currently creating a new project within I'll set up everything on my own to get a better understanding of react and the development process. I'll try it again when I'm finished with that. Thank you.

[2017-11-17 05:12] cmswalker commented on #55
Ah ok, I had a typo (That's what I get for trying to publish a patch before coffee) Sorry about that. I pulled down create-react-app and got it working just to make sure. Sorry for the confusion. You should be ok with the latest patch `3.0.12`

[2017-11-17 05:12] #55 closed

[2017-11-29 18:22] rybyakov opened #56 "Doesn't work in UIWebView"
I've got an error:
If you put a link to the website with fullpage-react to an instragram profile and open that link in instagram's in-app browser, the fullpage-react wouldn't work.
I created a simple xcode project with UIWebView and tried to open your demo-site in it and got an error.
Please have a look. The screenshot is attached.

![screenshot 2017-11-29 21 16 57](https://user-images.githubuserc

[2017-11-29 21:54] cmswalker commented on #56
@rybyakov thanks for finding this. My experience is pretty limited with in-app browsers and xcode. Could you provide a link showing how I can reproduce this with xcode/UIWebView? I'm guessing/hoping its a missing polyfill

[2017-11-30 08:42] rybyakov commented on #56
The best option for debugging this is to use xcode iOS simulator. I attached the project I mentioned before.
In ViewController.m I put a link to your demo site but you can change it. Push the play button on the xcode's top panel. It will start the iOS simulator and you will see blank screen on it. It is because of the error.
After that you will need to launch Safari (Develop mode must be switched

[2017-11-30 19:37] cmswalker opened #57 "Horizontal Append/Prepend of children in safari shows whitespace."
Latest safari update makes the divs jump down and expose whitespace in horizontal scrolling. Need to address this.

[2017-11-30 19:37] cmswalker commented on #56
Thanks again. I believe I have fixed it. Could you verify?  This has however exposed a horizontal scrolling bug (I've replicated it with xcode sim and regular safari) and I will work on it asap.  https://github.com/cmswalker/fullpage-react/issues/57

[2017-11-30 20:45] rybyakov commented on #56
Yes!
It works in my project.
Thank you!

[2017-11-30 21:01] cmswalker commented on #56
Cool, thanks. Will get that other one handled

[2017-11-30 21:01] #56 closed

[2017-12-17 07:19] x86kernel opened #58 "Still issue when resize the page"
Reproduce: slide to some page, then resize the page
Result: Still triggering #5 even on https://cmswalker.github.io/fullpage-react/

Browser: chrome

[2017-12-17 19:10] cmswalker commented on #58
![fp_rp_gif](https://user-images.githubusercontent.com/8467234/34082831-c7b594c0-e31a-11e7-9da4-0c5eb8239bfa.gif)

Sorry but it seems like its working

[2017-12-18 05:07] x86kernel commented on #58
It seems link only working when resize to horizontal
not working when resize to vertical

![Screen](https://i.imgur.com/HgXvgJS.gif)

[2017-12-18 21:18] cmswalker commented on #58
ah interesting, ok will look into this

[2018-01-03 22:32] #57 closed

[2018-01-03 23:10] #58 closed

[2018-01-04 07:42] tchukuchuk opened #59 "Setting initial slide"
Hi,

I would like to set the index of the initial slide displayed, is this possible ?

Regards,

Julien

[2018-01-04 08:24] tchukuchuk commented on #59
In fact, activeSlide option doesn't work for me.

[2018-01-04 08:34] tchukuchuk opened #60 "Navigation broken after reload"
Hi,

I have an issue when I refresh a page with Fullpage component, the navigation is partially broken.

You can see that on your demo (https://cmswalker.github.io/fullpage-react/):
1. Press DOWN
2. Reload the page
3. Press DOWN or UP : it doesn't work.

[2018-01-06 20:15] #59 closed

[2018-01-06 20:28] cmswalker commented on #60
This is related to the other bug reported #59

Both are fixed in 3.0.20

[2018-01-06 20:28] #60 closed

[2018-01-09 04:13] extJo opened #61 "hideScrollBars is not working"
hideScrollBars is not working.....
how to solve?

[2018-01-09 06:10] #61 closed

[2018-01-09 06:11] cmswalker commented on #61
Forgot to add the function call. Fixed in `fullpage-react@3.0.22`

[2018-01-09 07:28] extJo commented on #61
thx :)

[2018-01-12 15:41] buesing opened #63 "Server side rendering issue"
Hi, I can't seem to get it to work when using SSR, getting this error:
[code]
(this is using the next.js framework)

[2018-01-12 16:53] buesing commented on #63
Not a public one. It should happen in the next.js boilerplate too.

Michael Walker <notifications@github.com> schrieb am Fr., 12. Jan. 2018 um
17:49 Uhr:

[2018-01-13 01:16] cmswalker commented on #63
Addressed https://github.com/cmswalker/fullpage-react/pull/64

[2018-01-13 01:17] cmswalker commented on #63
Thanks for finding

`npm i fullpage-react@3.0.23`

[2018-01-13 01:17] #63 closed

[2018-01-13 22:47] elverskog opened #65 "Fullpage fails on changing to another Fullpage path"
If I have two pages/routes using Fullpage, and try to change routes from one to another, I get a series of errors in main FullpageReact.js file regarding the line:
`window.removeEventListener('resize', this.resize.bind(this));`

Just adding a check seems to fix this. Any chance you can add something similar to your repo?
[code]

[2018-01-13 23:38] cmswalker commented on #65
I see. Do you have a repo I can reproduce with or should this manifest itself with react router boilerplate?

[2018-01-14 01:38] elverskog commented on #65
Our repo isn't public.
I wanted to check to see it wasn't my code, so I cloned your example and duplicated the fullpageReactExample.js page and then stuck a parent component above the two pages. Adding react-router, react-router-dom and creating a <Link> to each page. The error occurred the same as in my code base.

Fullpage.js:319 Uncaught TypeError: Cannot read property 'bind' of undefined

I us

[2018-01-14 08:29] cmswalker commented on #65
Fixed. Here is an example that has been tested https://github.com/cmswalker/fullpage-react/blob/781e6bd15e0ff6b0b30bc5c84256022916269f42/examples/fullpageReactExample.js

[2018-01-14 08:30] #65 closed

[2018-01-14 08:31] cmswalker commented on #65
fixed in `v3.0.24`

[2018-01-15 10:30] buesing commented on #63
Fixed, thanks

[2018-01-16 15:05] buesing opened #68 "Error when unmounting"
Got another one. I'm triggering a state change that removes the Fullpage component from the page. When it triggers, I'm getting this error:
[code]
Just by taking a look in the code, there doesn't seem to be a handler called `this.resize` which is being removed at line 319:
[code]

[2018-01-16 21:15] cmswalker commented on #68
addressed https://github.com/cmswalker/fullpage-react/pull/69

[2018-01-16 21:20] cmswalker commented on #68
I would suggest doing a fresh install of `fullpage-react@3.0.26`

[2018-01-16 21:20] #68 closed

[2018-02-03 08:28] jasonrhaddix opened #70 "Possible to edit path on slide change?"
In case I missed it, is it possible to edit the path on slide change  (i.e #slide1, #slide2, etc)?

[2018-02-03 22:11] cmswalker commented on #70
It isn't baked in, but it is possible to implement it yourself if desired.

I've updated the docs to better reflect the ability to do this https://github.com/cmswalker/fullpage-react#events-api

Registering callback props as seen here will get you to the point where you could easily plug in push/pop state via the history API for however you want your paths to look https://github.com/cmswalker/full

[2018-02-08 00:54] tmdpark opened #73 "State changing but DOM not updating."
When I inspect this component using React DevTools, I can see that the activeSlide, lastActive, and scrollPending state properties are updating when I make a scroll down on my touchpad. However, the slide that's visible on the DOM isn't updating.

[code]

The component is rendered in a React Router Route component. Like so:
`<Route exact path="/" render={() => <FullPage />} />`

Any insight on why

[2018-02-08 01:42] cmswalker commented on #73
Does it work without react router? I'd also suggest not exporting a module
w the same name as a 3rd party lib

On Feb 7, 2018 4:54 PM, "Daniel Park" <notifications@github.com> wrote:

[2018-02-10 17:00] #70 closed

[2018-02-14 10:23] ruhinacse14 commented on #73
does not work at all. i have used your example.js still not working.

[2018-02-15 23:54] cmswalker commented on #73
This has been tested and confirmed as working with latest versions of `create-react-app` and `react-router` using this config

[code]

Marking this as closed until you can provide more context, this sounds like user error tho

[2018-02-15 23:54] #73 closed

[2018-02-16 13:43] jakebuttigieg opened #74 "Mobile chrome - scrolltop not working"
Hi, not sure if this is the correct place to inform you of my findings but i was having an issue with mobile chrome when it came to performing the scroll.

While investigating i noticed that, although in FullpageReact.js line 1620
`element[elementBoundary] = val`
the scrolltop(elementBoundary) value of html(element) was remaining zero, although it was being set to val correctly.

After some search

[2018-02-22 20:02] Matt-Owens opened #75 "Enable overflow-x on div inside <Slide>"
Is there any way I can enable normal horizontal scrolling (overflow-x: scroll) on a div inside of a slide?

[2018-02-25 16:28] cmswalker commented on #74
@jakebuttigieg this makes sense. Supporting multiple browsers like this is somewhat of a juggling act once browsers update. Could you elaborate on the "small issues regarding the address bar"?

I'll fix this but feel free to submit a PR as well. Just want clarity on your comment if there was another issue

[2018-02-25 16:40] cmswalker commented on #75
I looked into this and it would take a considerable amount of work to support it.

The reason it's complicated is that this library supports horizontal slides by default. There would have to be an option to disable scroll locking on the x Axis for one slide section only, which would be a bit of a pain as it would have to turn back on at some point to link the rest of the layout/state.

I'd say for

[2018-02-25 16:40] #75 closed

[2018-02-25 21:53] Matt-Owens commented on #75
@cmswalker Gotcha -- no problem.  Thanks for the work you've done on this library.

[2018-03-01 09:23] yaolei opened #76 "How to use this component ?"
Is there any easy demo could to start and study for the  newbie ?

[2018-03-01 18:22] cmswalker commented on #76
The [README](https://github.com/cmswalker/fullpage-react#component-boilerplate) has a small boilerplate example

Here is a more [in-depth](https://github.com/cmswalker/fullpage-react/blob/master/examples/fullpageReactExample.js) Example

[2018-03-01 18:22] #76 closed

[2018-03-07 21:28] cmswalker commented on #74
@jakebuttigieg I've investigated this and when using the chrome ios agent with chrome devtools everything is working as expected. Can you confirm if it was working on this but not on a mobile device?

[2018-03-08 08:26] jakebuttigieg commented on #74
@cmswalker, if i remember correctly, the address bar was messing with the measured height of the scroll section and so, on some sections, the snap to section would not be perfectly calculated and end up between sections.

Also - yes, desktop chrome emulation of mobile chrome was working correctly, but mobile chrome (on the actual ios device) was not. To solve this, i added this line:
`if(navigator

[2018-03-08 22:15] cmswalker commented on #74
I see, ok will make that change. Still looking into the address bar, I haven't been able to reproduce on browsers or android (I don't own a mobile ios unfortunately so xcode is the best i can get)

[2018-03-15 01:52] #74 closed

[2018-03-19 23:29] LHack47 commented on #74
Hi there, I am having difficulty with scrolling on Chrome iOS as well. Any changes coming on this front? Thank you!

[2018-03-20 00:17] cmswalker commented on #74
This issue https://github.com/cmswalker/fullpage-react/issues/74 had a
patch go out last week. What issues are you experiencing? Also what
device/os are you on?

On Mon, Mar 19, 2018 at 4:29 PM, Laura H <notifications@github.com> wrote:

--
Michael Walker
cmswalker.github.io

[2018-03-20 15:05] ChandlerMBing opened #78 "BUG: hideScrollBars: true"
Setting hideScrollBars to true disables scrolling completely.

I'm using up-to-date chrome on OSX. I have a fixed position nav and am using react-router v4.x if that helps.

[2018-03-20 18:23] LHack47 commented on #74
All is working beautifully! Thank you.

[2018-03-23 15:31] makc opened #79 "ability to cancel the slide change from start event handler"
It would be helpful to maybe check return value [here](https://github.com/cmswalker/fullpage-react/blob/a607d397d4c245fc9e591a7e52a57a3248747854/lib/components/Fullpage.js#L313)

I am trying to work with short speed values and it scrolls past multiple slides, so I want to force some minimum time in the slide but there seems to be no way around it.

[2018-03-23 20:15] makc commented on #79
so far hacked it to be this:
[code]
and on the app side
[code]
seems to work, but I'd rather have official fix )

[2018-03-25 16:59] cmswalker commented on #79
I see.

We should be strict with it. We'll need to make sure both `onSlideChangeStart` and `onSlideChange` end return `truthy/falsy`. How about if `true` the scroll/slide remains locked and if `false/!!undefined` the scroll is allowed to go through?

[2018-03-25 17:30] cmswalker commented on #78
I was unable to reproduce this however I did find a bug where vertical scroll bars are showing on horizontal slides. Could you give an example?

[2018-03-27 17:09] makc commented on #79
I thought returning true to block the change would be backwards-compatible, that's why.

[2018-03-27 17:22] makc opened #80 "our build script complains about global innerWidth"
you are missing

there somewhere

[2018-03-28 16:06] cmswalker commented on #80
"build script" as in a linter, transpiler? Can you post a stacktrace or screenshot?

[2018-03-28 17:52] cmswalker commented on #80
Fixed in `3.0.30`

[2018-03-28 17:52] #80 closed

[2018-03-28 17:52] cmswalker commented on #79
Fixed in `3.0.30`

[2018-03-28 17:52] #79 closed

[2018-03-28 17:52] cmswalker commented on #78
Fixed in `3.0.30`

[2018-03-28 17:52] #78 closed

[2018-04-15 18:12] makc commented on #80
Idk why I never receive notifications from this project. The build cript, I think, was "react-scripts build"

[2018-04-15 18:35] makc opened #83 "how to enable scrolling when the slide is taller than the screen?"
I'm trying to figure out the best way to do this. Currently it seems to always scroll all the way to the next slide, I'd like it to let it scroll freely until the bottom of the slide reaches the bottom of the screen, and only then go to next slide.

[2018-04-19 18:46] dimisus commented on #83
I am trying to figure out the same...

[2018-04-19 19:07] dimisus commented on #83
Well, I am somehow sure it cannot work with the fullpage approach, but the idea I am currently working on is that you basically have single slides and thus a fullpage scrolling. There are two reasons I would need a scroll first before the fullpage switches to the next.

1. I might have more content (like a blog entry) or similar which cannot fit one single page. In order to have a similar styling

[2018-04-20 03:38] jnotnull commented on #37
@cmswalker can u tell me which parameter on options ? thanks

[2018-04-23 09:21] jnotnull opened #84 "How enable normal scroll after fullpage scroll"
I have 9 pages, first 3 pages fullpage scroll, and 6 pages normall scroll. is there any options for me? thanks

[2018-04-26 07:57] makc commented on #83
in my case this is mostly long-ass text on small screens such as phones or even notebooks.

[2018-04-26 07:59] makc opened #85 "samsung browser needs to use body, not html"
setting scrollTop on html has no effect there, so I had to put following code into determineVerticalRoot:
[code]

[2018-04-26 16:59] cmswalker commented on #83
I see, so we'd want to enable overflow-Y and overflow-X inside a slide. Let me have a look

[2018-04-26 17:02] dimisus commented on #83
Overflow-Y might help, yes.

[2018-04-26 17:16] cmswalker commented on #83
So this would require a decent amount of work. The package works via locking scroll so we'd have to disable scroll locking for an overflow slide and the re-lock when the contents of that slide had reached the bottom. You'd also have to apply the inverse logic in order to scroll back up.

Personally, I think it kind of defeats the point of this library if implemented.

If you look at [fullpage.js](

[2018-04-26 21:45] makc commented on #83
well we're looking for one ) so far we had to make the copywriters re-do the text to make it shorter, but there is always a resolution that cuts the text somewhere. as a programmer, Idon't decide these things (up todesigners), but when the user runs into this issue, their first complaint is "I can't scroll".

[2018-04-27 05:15] cmswalker commented on #84
Oof. Good point. Closing this in favor of tracking on issue 83. Let's keep discussing there. There are a few ways to implement this. I'll document in issue 83 and start on it soon.

[2018-04-27 05:15] #84 closed

[2018-04-27 11:35] makc commented on #83
seeing how #84 is merged into this, I have another problem with

namely that [react-scroll-box](https://github.com/smikhalevski/react-scroll-box) does not work inside the slide.

well it does like 1 time out of 10, and I believe that scroll-swipe thing from your component interferes. but I did not debug it in-depth.

[2018-04-27 11:41] makc commented on #85
btw, you'll need some polyfills for samsung browser to even beging working, e g
* https://cdnjs.cloudflare.com/ajax/libs/es6-shim/0.34.2/es6-shim.min.js
* https://www.promisejs.org/polyfills/promise-6.1.0.js

[2018-05-02 21:54] robbiew commented on #83
We're talking about [this functionality](https://alvarotrigo.com/fullPage/extensions/scrolloverflow-reset.html#secondPage) that exists in fullpage.js, correct? Doesn't sounds like it's on the roadmap for fullpage-react, but wanted to make sure... Thanks!

[2018-05-04 12:35] magelanOpenSource commented on #83
@robbiew yes this is it. The fact is that some of us have a content bigger than the screen, so there is a need for a classic scroll in a slide.

We also need the implementation of `scrollOverflow` prop for our project.
This option exists in original jQuery lib [fullPage.js](https://github.com/alvarotrigo/fullpage.js#options).

We were thankful if you can port this option in you react lib @cmswalke

[2018-05-04 12:53] cmswalker commented on #83
@robbiew @magelanOpenSource  I will get it in, but it won't be for a few weeks at least. If this is a need-to-have right now for your use case I recommend the following.

I would imagine anyone using a fullpage-style layout typically doesn't have a component-heavy UI that is getting huge state updates that change each component, so in the meantime I'd recommend using the jquery fullpage.js library

[2018-05-04 21:00] robbiew opened #86 "Examples/approaches for canceling then resuming sliding?"
Trying to figure this out: how to stop a slide, fade out the slide, then resume the sliding to next slide.

New to React, this is how I've done it in fullpage.js/jQuery with callbacks onLeave event. Is the approach similar with full=page react?
[code]

[2018-05-04 21:12] robbiew commented on #83
@cmswalker got it. Your recommendation makes total sense.

[2018-05-06 00:15] V1shvesh opened #87 "Slide Background Colors"
Similar to sectionColors option in fullpage.js, can we have slideColors option here?

[2018-05-18 21:17] cmswalker commented on #83
So I've been thinking about this more and more and I've come up with a React API that can wrap the events system of the original [fullpage.js](https://alvarotrigo.com/fullPage/) library.

I've tested it and it works well with render performance and callback hooks. I'll never get this to 100% feature parity with fullpage so this could be a viable solution. The only 2 tradeoffs I can think of is tha

[2018-05-18 21:18] cmswalker commented on #87
Thinking about fully wrapping that lib to provide all the APIs for free, please see https://github.com/cmswalker/fullpage-react/issues/83 and add feedback if you have any

[2018-05-18 21:19] cmswalker commented on #86
You'd be able to use your old implementation if we go this route https://github.com/cmswalker/fullpage-react/issues/83 let me know how you feel about it

[2018-05-20 10:50] V1shvesh commented on #83
@cmswalker This sounds cool, although can the jQuery dependency be omitted? Do you think something can be worked out in that regard?

[2018-05-21 00:10] makc opened #88 "iOS 9 problem"
[this line](https://github.com/cmswalker/fullpage-react/blob/6086cc079a1fbcee8778d5728dc396ca5c97518c/lib/components/Fullpage.js#L173) causes this error:
![screen shot 2018-05-21 at 2 39 38](https://user-images.githubusercontent.com/242577/40285423-7af933a4-5ca4-11e8-881e-16317d11aa76.png)

fx:

[2018-05-21 11:05] makc commented on #83
@V1shvesh

there are things like [zepto](https://zurb.com/blog/why-we-dropped-zepto) or [jbone](https://github.com/kupriyanenko/jbone) that may or may not work.

[2018-05-22 06:29] cmswalker commented on #83
I was planning on at least pushing the jquery dependency on the user, so that way we don't risk multiple versions. You can pass it directly as a prop https://github.com/cmswalker/fullpage-react/pull/89/files#diff-c90d23fc26d6eeec89e1d77807b6bbbbR37

[2018-05-30 18:29] robbiew commented on #83
Just FYI -- looks like a non-jquery version of Fullpage.js will be released this month (via email from Alvaro):

Maybe a react wrapper to this could do the trick?

R

[2018-05-30 19:15] cmswalker commented on #83
Very nice find @robbiew Thanks for looping me in. Is there a link with more details?

I think this would be perfect! I say we open a new issue and table this in favor of the react wrapper. I have tested the WIP PR I have open and all looks good for the current fullpage.js version, but I'd prefer to wait for a major release until Alvaro releases V3.

In the meantime, I'll publish some of the patche

[2018-06-02 15:51] robbiew commented on #83
I've alerted him to this thread, as I can't seem to find any more info on the v3 release other than that email snippet and this tweet: https://twitter.com/IMAC2/status/998938850054606851

[2018-06-02 16:38] cmswalker opened #90 "Compatibility with fullpage.js"
Continuing discussion + RFC for https://github.com/cmswalker/fullpage-react/issues/83

[fullpage.js](https://alvarotrigo.com/fullPage/) V3 is on the horizon and will lose it's jquery dependency. This library should reduce itself to becoming a wrapper for that lib in order to consolidate communities and functionality. There are 3 steps we do to make this work.

1. Publish all remaining patches for

[2018-06-02 16:39] cmswalker commented on #83
Great! Looks like he has a react-component in the works which would likely deprecate this one, but I don't want to depend on it being released at the same time. I'll lay out the path forward in a new issue https://github.com/cmswalker/fullpage-react/issues/90

Going to close this issue for now, please redirect any migration related concerns/thoughts to https://github.com/cmswalker/fullpage-react/i

[2018-06-02 16:39] #83 closed

[2018-06-02 16:39] cmswalker commented on #87
This will be handled via https://github.com/cmswalker/fullpage-react/issues/90

[2018-06-02 16:39] #87 closed

[2018-06-02 16:39] cmswalker commented on #86
This will be handled via https://github.com/cmswalker/fullpage-react/issues/90

[2018-06-02 16:39] #86 closed

[2018-06-03 00:21] cmswalker commented on #85
Thanks again. Releasing this now, polyfills should be up to the consumer.

[2018-06-03 00:27] cmswalker commented on #88
fixed in 3.0.32

[2018-06-03 00:27] #88 closed

[2018-06-03 00:27] cmswalker commented on #85
fixed in 3.0.32

[2018-06-03 00:27] #85 closed

[2018-06-03 08:39] dstrekelj opened #92 "Scroll is locked after component using fullpage-react unmounts"
Hello,

I'm having trouble using `fullpage-react` across pages with different scroll behaviours. I'll try to be as concise as possible when describing my issue. Hopefully it's just something I'm doing wrong.

## Use case

I'm working on a website where the landing page needs to be presented in a fullpage-like fashion - every page section is a "slide" covering the entire browser viewport. Other pag

[2018-06-03 16:01] dstrekelj commented on #92
As documented in the commit message, the issue was that the effect of the `hideScrollBars` option was not taken into account when cleaning up on `<Fullpage>` component unmounting. The proposed change merely calls `showScrollBars()` under the right conditions so that the scroll bars appear afterwards.

[2018-06-03 21:10] dstrekelj commented on #92
@cmswalker Yup, everything works as expected now :)

[2018-06-04 00:56] cmswalker commented on #92
👍 thanks for your submission

[2018-06-04 00:56] #92 closed

[2018-06-05 16:38] Alenvee commented on #37
In 3.0.33 don`t find this parameter.

[2018-06-09 15:20] dbarabander opened #95 "Importing 'import 'semantic-ui-css/semantic.min.css' breaks module"
Hey @cmswalker love this library, by the far the best I've found for full page scroll.

It's not necessarily your problem, but when I add the following line to  import 'semantic-ui-css/semantic.min.css'; to index.js (on a standard CRA repo) this module no longer works (scrolling of any sort is disabled, etc).

Just something I thought you might want to be aware of!

[2018-06-12 21:13] athulmurali opened #96 "Installation queries"
Hello  cmswalker,

I am trying to build a website with full-page-react and having trouble with importing.

Also, I need some clarifications on how it is intended to be used.

The steps that I followed to install (as described in the installation notes )are
[code]
(didnt work as IDE was unable to trace the above given modules)

Hence, I used the following

import { Fullpage, HorizontalSlider, Slide

[2018-06-15 07:35] athulmurali commented on #96
Cloned and copy pasted my content into a forked version. Works like charm. Great job. Please close this issue. My bad

[2018-06-21 01:36] cmswalker commented on #96
Very strange. It should be referencing the built version which is resolved from package.json as `FullpageReact.js` does that not resolve for you?

[2018-06-21 01:38] cmswalker commented on #90
Update: Thanks to @robbiew I'm currently in the process of getting this library wrapped into official fullpage.js. Will update this repo accordingly when it is finished (very soon)

[2018-06-21 01:38] cmswalker commented on #95
Thanks for posting this, i'm guessing semantic ui is doing something special with overflow properties? To be honest it probably won't be addressed in favor of https://github.com/cmswalker/fullpage-react/issues/90. I'll post back here once that is complete to see if there are still issues

[2018-06-21 01:39] cmswalker commented on #96
Also just to make sure, after running `create-react-app` you did `cd` into your new project directory before installing this module right?

[2018-06-21 01:41] cmswalker commented on #83
thanks again to @robbiew for setting this in motion https://github.com/cmswalker/fullpage-react/issues/90  This should get absorbed as an official react wrapper for fullpage.js in the coming weeks

[2018-06-21 09:17] thearnica opened #97 "Now working with domestic browsers"
Hey! Kudos for the library. It is the only "full page" for react, which actually works.
Unfortunately - it does not work for all the cases.

To be more concrete - for vast majority of Chrome clones, which are _chrome_, but provide a different UserAgent.

Result is always the same - document.body is picked instead of document element, and scroll literally dies.

Would you consider using `window.scr

[2018-06-21 09:19] thearnica commented on #97
For now I have to _polyfill_ it
[code]

And it works for me.

[2018-06-27 12:36] kpoddubnyi commented on #78
@cmswalker Hey!

Faced the same issue. I'm not able to scroll to the next section in Chrome, Firefox (OSX). When I delete a `overflow: hidden` property from html or body it starts working good.

Btw, in Safari it changes slides but it works strange - every scroll provokes jump to the first section and then scroll to the next

[2018-06-27 15:23] cmswalker commented on #97
Hi Marina, thanks for finding a polyfill. I'll be sure to include this for the final patch. In the meantime please see https://github.com/cmswalker/fullpage-react/issues/90 as this will soon be deprecated

[2018-06-27 15:23] #96 closed

[2018-06-27 15:23] #95 closed

[2018-06-30 11:29] pushbuttons opened #98 "Horizontal slider scroll navigation not scrolling on iOS"
Tested on:

iPhone X iOS 11.4 Safari
iPhone X iOS 11.4 Chrome 67.0.339.857
iPad Pro 10.5 iOS 11.4 Safari
iPad Pro 10.5 iOS 11.4 Chrome 67.0.339.857

Horizontal slider scroll navigation working on Android 8.0 (Galaxy S7) Chrome 67.0.339.857

Temporary work around - button navigation for next and prev on iOS.

[2018-07-01 05:17] LikedBlack opened #99 "Can't get ref in componentDidMount"
`fullPageOptions.slides = [
  <Silde><CustomComponent ref="test"></CustomComponent></Slide>
]`

...

`componentDidMount() {
    console.log(this.refs.test)
  }`

It's output an 'undefined', how can I get this ref?

[2018-07-01 17:10] cmswalker commented on #99
My guess is you're not grabbing the ref in the `CustomComponent` class as a prop and passing it within the render function to a `div` `input` etc.

This has nothing to do w/ this library, it's just the implementation of refs in general. Also, if you're passing refs as props, use another name instead of `ref`

https://reactjs.org/docs/refs-and-the-dom.html#creating-refs

[code]

[code]

[2018-07-01 17:10] #99 closed

[2018-07-13 20:27] stevens1434 opened #100 "onWheel/onDragevent to initiate horizontal scroll"
This is my first post and I'm not quite sure how to mark this as a question (mass apologies for that).

I have been trying to implement a way to set up horizontal scrolling via react synthetic events. Included in this would be a wheel event (onWheel) and a mouse event (onDrag). Is there a way to do this with fullpage-react?

Also, is there a onTouch event (for mobile devices) which allows you to m

[2018-07-13 20:30] stevens1434 commented on #100
To be more clear on the swipe effect...

Is there a way to move the slide as the user's finger moves rather than: (1) having to swipe; and then (2) remove the finger completely?

[2018-07-17 19:55] djflorio opened #101 "Autoscroll"
Is there a prop to enable autoscroll so that the pages scroll on their own? If not, are there any available methods that would make this possible with a little coding?

[2018-07-24 09:26] cjancheta15 opened #102 "Disable Animation"
Hi is there a way to disable animation? Thanks

[2018-07-31 19:26] AAHossny commented on #101
you can follow the same approach used in the example to change the slide manually and change the slide after some time using `setTimeout`

[2018-08-03 16:54] mahendrushivam opened #103 "Infinite scroll in vertical slides"
Can you enable vertical infinte scroll also

[2018-08-03 18:49] cmswalker commented on #103
@mahendrushivam please see https://github.com/cmswalker/fullpage-react/pull/104.  Under the new project all fullpage.js APIs are available for the react component

[2018-08-03 18:49] #103 closed

[2018-08-03 18:50] cmswalker commented on #101
@djflorio @AAHossny please see https://github.com/cmswalker/fullpage-react/pull/104.  Under the new project all fullpage.js APIs are available for the react component

[2018-08-03 18:50] #101 closed

[2018-08-03 18:50] cmswalker commented on #102
@cjancheta15  please see https://github.com/cmswalker/fullpage-react/pull/104.  Under the new project all fullpage.js APIs are available for the react component

[2018-08-03 18:50] #102 closed

[2018-08-03 18:52] cmswalker commented on #100
@mahendrushivam please see https://github.com/cmswalker/fullpage-react/pull/104.  Under the new project all fullpage.js APIs are available for the react component

Unfortunately horizontal scrolling via swipe is not supported in that package and this one is no longer maintained in favor of consolidating the 2 projects. If you'd like more native behavior I'd suggest using https://github.com/voronia

[2018-08-03 18:52] #100 closed

[2018-08-03 18:52] cmswalker commented on #98
@pushbuttons  please see #104. Under the new project all fullpage.js APIs are available for the react component. There should be much better browser compatibility now

[2018-08-03 18:52] #98 closed

[2018-08-03 18:53] cmswalker commented on #97
@thearnica  please see #104. Under the new project all fullpage.js APIs are available for the react component

[2018-08-03 18:53] #97 closed

[2018-08-03 18:53] cmswalker commented on #90
This has now been moved! There are some API level changes but markup remains largely the same

Under the new project all fullpage.js APIs are available for the react component

[2018-08-03 18:53] #90 closed

[2018-08-03 18:54] cmswalker commented on #83
For those still wondering, this has been moved to the official fullpage.js project and now has richer functionality

please see #104.

[2020-04-11 09:57] zhangminggeek opened #105 "Continuous scrolling occurs when scrolling with the touchpad on Mac OS"
When I use the touchpad to scroll for a long time, it will scroll continuously for two pages

[2021-01-28 08:45] NaniChennuri opened #106 "Unable to Scroll Scrollable Content"
My Structure (There are no vertical slides but only Horizontal Slides.)
FullPage
 ------Horizontal Sliders
  ---------Slider1
   ---------Slider2

 On each of the Horizontal Slide, I am having a table which lists set of items. I am able to scroll horizontally but unable to scroll the contents inside the table using mouse wheeler.

Below is the sample Code.

----------------------------------------